* {
	margin: 0px;
	padding: 0px;
	/* font-family: 'Jost', sans-serif; */
	background-color: rgba(255, 242, 238, 255);
}

header {
	display: flex;
	justify-content: space-between;
	margin-left: 100px;
}

.round img {
	width: 300px;
}

.logo img {
	margin-left: 30px;
}

.side_nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-right: 170px;
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	color: gray;
}

.side_nav ul li {
	margin-left: 20px;
}

.side_nav ul a {
	text-decoration: none;
	color: gray
}

.side_nav span button {
	margin-left: 20px;
	background-color: rgba(185, 214, 202, 255);
	padding: 10px 25px 10px 25px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	border: none;
}

.side_nav span button a {
	color: white;
}

#search {
	font-family: 'Poppins', sans-serif;
	outline: none;
	border: 1px solid gray;
}

.input i {
	background-color: rgba(251, 186, 113, 255);
	color: white;
	padding: 13px 20px;
	border-radius: 15px;
	margin-left: 15px;
}

.input {
	margin-right: 150px;
}

#hr1 hr, #hr2 hr {
	width: 1200px;
	margin-left: 100px;
}

.input #search {
	padding: 13px 190px 13px 190px;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
	background: white;
}

.header_prt1 ul {
	display: flex;
	justify-content: center;
}

.header_prt1 ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
	list-style: none;
}

.header_prt1 a {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: gray;
}

#asst {
	margin-right: 200px;
}

.about {
	margin-top: 10px;
	display: flex;
	margin-left: 1200px;
}

#edit_id {
	border: none;
}

.butn_dis {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	width: 200px;
	background-color: rgba(251, 186, 113, 255);
	margin-left:35px;
	margin-top:20px;
}

.fa,.h5 {
	background-color: rgba(251, 186, 113, 255);
	color:white;
}

.profile_pic_all {
	background-color: rgba(251, 186, 113, 255);
}

.front_whole {
	background-color: rgba(251, 186, 113, 255);
	padding: 20px;
	width: 300px;
	padding:20px;
	margin-left:30px;
	border-radius:10px;
}

.container{
	display:flex;
}