* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: rgba(255, 242, 238, 255);
}

header {
	display: flex;
	justify-content: space-between;
	margin-left: 100px;
}

.round img {
	width: 300px;
}

.logo img {
	margin-left: 30px;
}

.side_nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-right: 170px;
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	color: gray;
}

.side_nav ul li {
	margin-left: 20px;
}

.side_nav ul a {
	text-decoration: none;
	color: gray
}

.side_nav span button {
	margin-left: 20px;
	background-color: rgba(185, 214, 202, 255);
	padding: 10px 25px 10px 25px;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	border: none;
}

.side_nav span button a {
	color: white;
}

#search {
	font-family: 'Poppins', sans-serif;
	outline: none;
	border: 1px solid gray;
}

.input i {
	background-color: rgba(251, 186, 113, 255);
	color: white;
	padding: 13px 20px;
	border-radius: 15px;
	margin-left: 15px;
}

.input {
	margin-right: 150px;
}

#hr1 hr, #hr2 hr {
	width: 1200px;
	margin-left: 100px;
}

.input #search {
	padding: 13px 190px 13px 190px;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
}

.header_prt1 ul {
	display: flex;
	justify-content: center;
}

.header_prt1 ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 30px;
	list-style: none;
}

.header_prt1 a {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: gray;
}

#asst{
	margin-right:200px;
}
/* page starts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700")
	;

:root {
	--bg-color: rgb(225, 229, 242);
	--color1: rgb(191, 219, 247);
	--color2: rgb(31, 122, 140);
	--color3: rgb(2, 43, 58);
	--white: rgb(255, 255, 255);
	--persian-orange: rgb(198, 136, 102);
}

*, ::before, ::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font: 16px/24px 'Lora', sans-serif;
	/* background-color: var(--bg-color); */
	color: var(--color3);
	margin: 50px 0;
}

.container {
	max-width: 1400px;
	padding: 0 15px;
	margin: 0 auto;
	margin-top: 20px;
	/* display: flex; */
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.cards {
	display: flex;
	padding: 25px 0;
	list-style: none;
	text-align: center;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	overflow: hidden;
	/* display: flex; */
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 0 0 100%;
	padding: 20px;
	/* border-radius: 12px; */
	border: 1px solid rgba(231, 252, 3, 0.2);
	box-shadow: 3px 3px 6px 0 rgba(251, 186, 113, 255), -1px -1px 6px 0
		rgba(251, 186, 113, 255);
	scroll-snap-align: start;
	transition: all 0.2s;
}

.card:not(last-child) {
	margin-left: 20px;
	margin-right: 50px;
}

.card:hover {
	scale: 1.05;
}

.card .card-title {
	font-size: 1.5rem;
}

.card img {
	border: none;
}

.card .round {
	/* border: 2px solid var(--persian-orange);
  border-radius: 50%; */
	padding: .35rem;
}

.card .card-content {
	margin: 20px 0;
	max-width: 85%;
}

.card-content p {
	font-size: 0.88rem
}

button.primary {
	background-color: orange;
	border: none;
	border-radius: 15px;
	color: var(--white);
	font-family: inherit;
	font-weight: 500;
	padding: 10px 25px;
	margin-top: 1rem;
}

button.primary_ghost {
	border-radius: 15px;
	margin-left: 5px;
}

button.primary_ghost:hover {
	background: var(--color2);
}

button.primary_ghost {
	background-color: transparent;
	color: orange;
}

button.primary_ghost:hover {
	background: orange;
	color: var(--white);
	border: none;
	border-radius: 15px;
}
/* Media Query */
@media ( min-width : 500px) {
	.card {
		flex-basis: calc(50% - 10px);
	}
	.card:not(:last-child) {
		margin-right: 20px;
	}
}

.primary_ghost {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 10px;
	padding-left: 10px;
}

@media ( min-width : 700px) {
	.card {
		flex-basis: calc(calc(100%/ 3)- 20px);
	}
	.card:not(:last-child) {
		margin-right: 30px;
	}
}

@media ( min-width : 1100px) {
	.card {
		flex-basis: calc(25% - 30px);
	}
	.card:not(:last-child) {
		margin-right: 40px;
	}
}

/* Styles for the popup content */
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	overflow: auto;
}

.popup-content {
	background-color: white;
	position: relative;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	position: relative;
	border-radius: 20px;
}

#UpdateProduct {
	margin-left: 70px;
}

#update_but {
	margin-top: 30px;
	margin-left: 106px;
	padding: 14px;
	background-color: rgba(251, 186, 113, 255);
	border: none;
	border-radius: 30px;
	colour: white;
}
/* Close button (X) */
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

/* Add animation when the popup appears */
.popup.show {
	display: block;
	animation: fadeIn 0.3s ease-in-out;
}

@
keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
#heart {
	margin-left: 55px;
}

.popup input {
	padding: 15px 40px 15px 40px;
	margin-left: 120px;
	border-radius: 10px;
	border: none;
	background-color: rgba(255, 242, 238, 255);
}

.open {
	text-decoration: none;
	color: white;
}

.buttons button {
	padding: 10px 20px 10px 20px;
	background-color: rgba(251, 186, 113, 255);
	color: white;
	border: none;
	border-radius: 10px;
}