* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgba(255, 242, 238, 255);
} 
 
 
#class_div{
   margin-right: 50px;  
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
#fa_icon{
    padding-left: 10px;
    font-size: 15px;
    padding-top: 5px;
    color: gray;
}

header{
    display: flex;
    justify-content: space-between;
}
.fa{
    padding-left: 10px;
     margin-left: 10px;
    color: rgba(251,186,113,255);
}

header img{
    margin-left: 20px;
}

#popup_cont img{
    background-color: white;
}
#a_tag {
    text-decoration: none;
    color: orange;
    padding-left: 20px;

}

#none{
    background-color: rgba(255, 242, 238, 255);
    border: none;
}

#con_popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
    
}
 
#popup_cont{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    width: 300px;
    padding-left: 50px;
    position: absolute;
    top: 100px;
    left: 35%;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
}

#popup_cont h4{
    margin-left: 30px;
    background-color: white;
}
#popup_cont h3{
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white
}
#popup_cont button{
    padding: 10px 30px 10px 30px;
   background-color: rgba(251,186,113,255);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    border: none;
    margin-left: 20px;
}

.back_groud img {
	width: 1490px;
	height: 900px;
}

.headerdown {
	background-color: rgba(247, 225, 232, 255);
	letter-spacing: 1px;
	padding-bottom: 40px;
	padding-top: 50px;
	display: flex;
}

.headerdown p {
	font-size: 20px;
	margin-left: 200px;
}

.headerdown h1 {
	margin-left: 200px;
	margin-top: 70px;
	font-size: 40px;
}

.headerdowndiv2 img {
	width: 230px;
	margin-left: 50px;
	border-radius: 10px;
}

.slidesilder {
	display: flex;
	flex-wrap: wrap;
	width: 1300px;
	margin-top: 50px;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	text-align: center;
	margin-left: 50px;
}

.slider {
	margin-top: 90px;
	margin-left: 40px;
}

/*  */
main {
	display: flex;
	justify-content: space-evenly;
}

.content img {
	margin-left: 50px;
}

.thing {
	background-color: rgba(244, 239, 226, 255);
	padding-top: 50px;
	padding-bottom: 30px;
}

.top2 {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 30px;
}

.content img {
	width: 350px;
}

/* .content1 {
    display: flex;
} */
.content1 {
	text-align: center;
}

.thing {
	display: flex;
	justify-content: space-around;
	margin-top: 70px;
}

.thing h1 {
	font-size: 40px;
	margin-left: 420px;
}

.swipebut button {
	background-color: rgba(244, 239, 226, 255);
	box-shadow: 3px 3px 3px black;
	padding: 15px;
	margin-top: 10px;
	border: none;
	padding-right: 30px;
	padding-left: 30px;
	border-radius: 50px;
	font-size: 15px;
	text-align: center;
}

.wholeart_div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.artist_division {
	margin: 20px;
	border-radius: 10px;
	background-color: whitesmoke;
	width: 340px;
	height: 530px;
	display: flex;
	flex-direction: column;
}

.artist_division .profile-image {
	border-radius: 50px;
	width: 250px;
	padding: 40px;
}

.artist_division .profile {
	display: flex;
	flex-direction: column;
}

.artist_division .profile img {
	border-radius: 500px;
	border-top: 5px solid white;
	width: 160px;
}

.profile {
	position: relative;
	bottom: 160px;
	left: 90px;
}

.profile .profile2 {
	margin-left: 20px;
	line-height: 30px;
}

.artist {
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
}

.not1 {
	text-align: center;
	padding-top: 80px;
	font-family: 'Raleway', sans-serif;
	background-color: rgb(191, 214, 214);
	margin-top: 70px;
	height: 300px;
}

.not1 p {
	font-size: 20px;
	color: gray;
}

.not1 a {
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: grey;
}

/* footer */
.footer_one {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.footer_zone2 {
	display: flex;
	align-items: center;
	font-size: 30px;
	color: black;
	margin-left: 40px;
}

.footer_zone2 i {
	padding-left: 30px;
}

.foot {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#but_ion {
	background: none;
	font-size: 20px; font-family : 'Poppins', sans-serif; color : gray;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	border: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	color: gray;
}