* {
    margin: 0px;
    padding: 0px;
    background-color:  rgba(255,242,238,255);
} 

  
 
#class_div{
   margin-right: 50px;  
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
#fa_icon{
    padding-left: 10px;
    font-size: 15px;
    padding-top: 5px;
    color: gray;
}

header{
    display: flex;
    justify-content: space-between;
}
.fa{
    padding-left: 10px;
     margin-left: 10px;
    color: rgba(251,186,113,255);
}

header img{
    margin-left: 20px;
}

#popup_cont img{
    background-color: white;
}
#a_tag {
    text-decoration: none;
    color: orange;
    padding-left: 20px;

}

#none{
    background-color: rgba(255, 242, 238, 255);
    border: none;
}

#con_popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto;
    
}
 
#popup_cont{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    width: 300px;
    padding-left: 50px;
    position: absolute;
    top: 100px;
    left: 35%;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
}

#popup_cont h4{
    margin-left: 30px;
    background-color: white;
}
#popup_cont h3{
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white
}
#popup_cont button{
    padding: 10px 30px 10px 30px;
   background-color: rgba(251,186,113,255);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    border: none;
    margin-left: 20px;
}
    #hello{
        text-align: center;
    } 
/*  */

.content img {
    margin-left: 50px;
}

.thing{
    background-color: rgba(244,239,226,255);
    padding-top: 50px;
    padding-bottom: 30px;
}

.top2 {
    padding-bottom: 80px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 1400px;
    justify-content: space-around;
    align-items: center;
}

.content2{
    margin-left: 60px;
}

.content img {
    width: 350px;
}

.content1 {
    display: flex;
    
}
.content{
    margin-top: 30px;
}
 

.content3 img{
    width: 30px;
    margin-left: 190px;
}

 

.lader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center; 
    font-size: 30px;
    margin-left: 90px;
 }

 .lader h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
 }
 
 .lader h3{
    font-size: 20px;
    line-height: 2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 }
.font{
    margin-top: 90px;
}

button a{
    text-decoration: none;
    color: white;
    background-color: sandybrown;
}
 .lader button{
    background-color: sandybrown;
    padding:10px 30px 10px 30px ;
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin-left: 200px;
    cursor: pointer;
 }

.lader img{
    width: 800px;
}
 

 