@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: rgba(255, 242, 238, 255);
}

#class_div {
	margin-right: 50px;
	display: flex;
	align-items: center;
	font-family: 'Outfit', sans-serif;
}

#fa_icon {
	padding-left: 10px;
	font-size: 15px;
	padding-top: 5px;
	color: gray;
}

header {
	display: flex;
	justify-content: space-between;
}

.fa {
	padding-left: 10px;
	margin-left: 10px;
	color: rgba(251, 186, 113, 255);
}

header img {
	margin-left: 20px;
}

#popup_cont img {
	background-color: white;
}

#a_tag {
	text-decoration: none;
	color: orange;
	padding-left: 20px;
}

#none {
	background-color: rgba(255, 242, 238, 255);
	border: none;
}

#con_popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	overflow: auto;
}

#popup_cont {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	width: 300px;
	padding-left: 50px;
	position: absolute;
	top: 170px;
	left: 35%;
	border-radius: 20px;
	font-family: 'Outfit', sans-serif;
}

#popup_cont h4 {
	margin-left: 30px;
	background-color: white;
}

#popup_cont h3 {
	margin-left: 20px;
	margin-bottom: 10px;
	background-color: white
}

#popup_cont button {
	padding: 10px 30px 10px 30px;
	background-color: rgba(251, 186, 113, 255);
	border-radius: 10px;
	color: white;
	margin-top: 20px;
	border: none;
	margin-left: 20px;
}

#art_con {
	position: absolute;
	top: 650px;
	left: 350px;
	font-size: 50px;
	background-color: none;
	color: white;
}

/* backgroundimg */
.backimg img {
	width: 1490px;
	height: 850px;
}

.tag_hr {
	padding-bottom: 100px;
}

.tag_hr p {
	margin-left: 550px;
	font-size: 35px;
	background-color: rgba(255, 242, 238, 255);
	width: 380px;
	position: absolute;
	top: 1190px;
}

.tag1 {
	background-color: black;
	height: 2px;
	margin-top: 120px;
	width: 1000px;
	margin-left: 240px;
}

.content {
	background-color: white;
	padding-left: 10px;
	margin-left: 20px;
	border-radius: 40px;
	padding-bottom: 15px;
	padding-right: 30px;
}

.content1 {
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
	margin-top: 10px;
}

.content a img {
	width: 300px;
	height: 400px;
	margin-left: 30px;
}

.content3 img {
	margin-left: 200px;
	background-color: rgba(255, 242, 238, 255);
}

/* display flex for column */
.main {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}

.main1 {
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-left: 50px;
	margin-bottom: 50px;

	/* margin-top: 60px; */
}

.top2 {
	display: flex;
	padding-bottom: 50px;
}

.content2 h2 {
	color: gray;
}

.lightpainting {
	height: 4px;
	background-color: skyblue;
	width: 450px;
	margin-left: 500px;
	margin-top: 50px;
}

.yellow {
	display: flex;
	justify-content: space-evenly;
	padding-top: 160px;
}

.light {
	font-size: 40px;
	position: absolute;
	top: 2968px;
	left: 650px;
	background-color: white;
}

.text {
	margin-left: 650px;
	font-size: 40px;
}

.content2 h2 {
	color: gray;
}

.lightpainting {
	height: 4px;
	background-color: skyblue;
	width: 450px;
	margin-left: 500px;
	margin-top: 50px;
}

.yellow {
	display: flex;
	justify-content: space-evenly;
	padding-top: 160px;
}

.light {
	font-size: 40px;
	position: absolute;
	top: 2968px;
	left: 650px;
	background-color: white;
}

.text {
	margin-left: 650px;
	font-size: 40px;
}

.img {
	margin-left: -65px;
}
/* footer */
.foot {
	background-color: rgb(251, 248, 248);
}

.foot p {
	background-color: white;
	width: 400px;
	position: absolute;
	text-align: center;
	top: 2000px;
	padding: 14px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 50px;
	color: black;
	left: 540px;
	font-family: sans-serif;
}

.foot img {
	width: 900px;
	height: 400px;
	margin-left: 300px;
	opacity: 0.5;
	margin-top: 100px;
}

footer {
	background-color: rgba(18, 17, 17, 0.868);
	color: white;
	letter-spacing: 4;
}

.foot0 {
	line-height: 3;
	margin-left: 30px;
}

.foot0 h1 {
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

.foot0 p {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

.foot1 {
	display: flex;
	justify-content: space-around;
}

.foot1 {
	margin-top: 50px;
	line-height: 3;
}

.foot1 h2 {
	font-size: 30px;
	/* font-family: 'Montserrat', sans-serif;
    font-weight: 300; */
}

.foot4 img {
	width: 90px;
}

#name {
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#feed {
	padding: 16px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.foot3 button {
	padding: 10px;
	border-radius: 20px;
	padding-left: 14px;
	padding-right: 15px;
	font-family: 'Montserrat', sans-serif;
	margin-left: 120px;
	margin-top: 10px;
}

.dum {
	display: flex;
	justify-content: space-between;
}

.dum2 img {
	margin-top: 60px;
	margin-right: 100px;
	width: 200px;
}

.option {
	margin-left: 50px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
}

.fa-trash {
	font-size: 50px;
	colour: orange;
	text-decoration: none;
}

#do {
	margin-right: 50px;
}

#sub_but {
	background-colour: red;
	border: none;
	padding: 0px;
	margin-left: 30px;
	font-size: 25px;
}

.open {
	font-size: 50px;
	text-decoration: none;
	colour: black;
	background-colour: black;
}

/* Styles for the popup container */
.popup {
	display: none; /* Hide the popup by default */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
	z-index: 1;
	overflow: auto;
}

/* Styles for the popup content */
.popup-content {
	background-color: white;
	margin: 10% auto; /* Center the popup vertically */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px; /* Limit the width of the popup */
	position: relative;
	border-radius: 20px;
}

#UpdateProduct {
	margin-left: 70px;
}

#update_but {
	margin-top: 30px;
	margin-left: 106px;
	padding: 14px;
	background-color: rgba(251, 186, 113, 255);
	border: none;
	border-radius: 30px;
	colour: white;
}
/* Close button (X) */
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

/* Add animation when the popup appears */
.popup.show {
	display: block;
	animation: fadeIn 0.3s ease-in-out;
}

@
keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
#heart {
	margin-left: 55px;
}

#but_ion {
	background: none;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: gray;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	border: none;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	color: gray;
}

.popup input {
	padding: 15px 40px 15px 40px;
	margin-left: 120px;
	border-radius: 10px;
	border: none;
}

/* filter */
#search_bar {
	margin-right: 10px;
	padding: 18px 150px 18px 150px;
	border-radius: 10px;
	border: none;
	outline: none;
}

.test_box {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 100px;
}

#famo {
	background-color: rgba(251, 186, 113, 255);
	border-radius: 20px;
	padding: 18px;
	color: white;
}

#textfil {
	margin-left: 100px;
	background-color: rgba(251, 186, 113, 255);
	padding: 15px;
	color: white;
	border-radius: 20px;
}

#priceby {
	margin-left: 20px;
	padding: 15px;
	border-color: rgba(251, 186, 113, 255);
	padding-left: 20px;
	border-radius: 15px;
}


.forgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 150px;
  left: 200px;
  justify-content: center;
  align-items: center;
}

.secrow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 20px;
  
 
}
.imgclass h3{
	color:rgba(251, 186, 113, 255);
}

.imgclass p{
	color:white;
}

.imgclass{
border-radius:20px;
background-color:rgba(0, 0, 0, 0.7);;
padding: 20px;
}

.headline h2{
	font-size: 70px;
	font-family: 'Kalam', cursive;
	color:white;
}